.button {
  width: 100%;
  height: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  object-fit: cover;
  display: table; 
  text-align: center;


}
.button text {
  color: white;
}

.button .buttonBlack {
  background-color: black;
  border: 2px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.button .buttonBlack:hover {
  background-color: #555555;
  color: black;
}
.button .buttonBlack:focus {
  background-color: #777777;
  color: black;
}

.button .buttonRed {
  background-color: rgb(71, 7, 7);
  border: 2px solid rgb(71, 7, 7);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button .buttonRed:hover {
  background-color: rgb(27, 4, 4);
  color: rgb(71, 7, 7);
}
.button .buttonRed:focus {
  background-color: rgb(46, 8, 8);
  color: rgb(71, 7, 7);
}

.button .buttonWhite {
  background-color: white;
  border: 2px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button .buttonWhite text {
  color: black;
}

.button .buttonWhite:hover {
  background-color: #dddddd;
  color: white;
}
.button .buttonWhite:focus {
  background-color: #888888;
  color: white;
}
