.cardServico {
  width: 100%;
  height: 20vh;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;

  display: grid;
  grid-template-areas:
    "imagem . nome"
    "imagem . endereco"
    "imagem . pedir";
  grid-template-rows: 1fr 30px 1fr;
  grid-template-columns: 1fr 20px 2fr;
}

#imagem {
  grid-area: imagem;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex:1;
  justify-content: flex-start;
  align-items: center;
}

#imagem img {
  object-fit: cover;
  width: 20vh;
  height: 100%;
}

#nome {
  grid-area: nome;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#endereco {
  grid-area: endereco;
  color: #444444;
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: left;
}

#pedir {
  grid-area: pedir;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}


.cardPedido {
    width: 100%;
    height: 20vh;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
  
    display: grid;
    grid-template-areas:
      "nome . ligar"
      "contato . email"
      "contato . excarq";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 10px 1fr;
    padding:10px;
  }

  #contato {
    grid-area: contato;
    color: #444444;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    
  }

  #ligar {
    grid-area: ligar;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #email {
    grid-area: email;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #excarq {
    grid-area: excarq;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  