.paginaServico {
  width: 100%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;

  display: grid;
  grid-template-areas:
    "textoHeader"
    "searchServico"
    "categoria"
    "categoriabar"
    "listServicos";

  grid-template-rows: 140px 40px 30px 50px 1fr;
  align-items: center;
}

.paginaSucesso {
  width: 100%;
  background: white;
  box-sizing: border-box;
  margin-bottom: 10px;

  display: grid;
  grid-template-areas:
    "texto1"
    "texto2"
    "pedirOutro";

  grid-template-rows: 1fr 1fr 50px;
  align-items: center;
}

#texto1 {
  grid-area: texto1;
  font-size: 35px;
  padding: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#texto2 {
  grid-area: texto2;
  font-size: 20px;
  padding: 15px;
  color: #444444;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
}
#pedirOutro {
  grid-area: pedirOutro;
  padding: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#textoHeader {
  grid-area: textoHeader;
  width: 80%;
  height: 100%;
  font-size: 35px;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;

}
#searchServico {
  grid-area: searchServico;
  padding: 5px;
  width: 80%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;


}
#categoria {
  grid-area: categoria;
  font-size: 20px;
  padding: 5px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;


}
#categoriabar {
  grid-area: categoriabar;
  padding: 5px;
  width: 80%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#listServicos {
  grid-area: listServicos;
  display: flex;
  flex-direction: column;
}
