#body {
  /**
    Cria um corpo superior
  */
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  padding: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  display: grid;
  grid-template-areas:
    "prestadorServico prestadorServico"
    "titulo default"
    "nome telefone"
    "email1 email2"
    "data1 data2"
    "button1 button2";
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 130px 1fr 60px 100px 40px 40px;
}

#prestadorDeServico{
  grid-area: prestadorServico;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;

}


.form-group {
  width: 100%;
  display: flex;
  grid-template-areas: "select icon";
  grid-template-columns: 1fr 40px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  height: 15px;
  grid-area: icon;
  border-style: solid;
  border-color: black;
  border-width: 2px 2px 2px 0px;
  display:flex;
  float:left;
}

.iconFoto {
  padding: 10px;
  min-width: 40px;
  min-height: 15px;
}

.input-field-icon {
  border-style: solid;
  border-color: black;
  border-width: 2px 0px 2px 2px;
  padding: 10px;
  grid-area: select;
  text-align: left;
  width: 100%;
  height: 15px;
  font-style: italic;
  background-color: white;
}

.titulo {
  font-size: 22px;
}

.divButton{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select-icon {
  border-style: solid;
  border-color: black;
  border-width: 2px 0px 2px 2px;
  padding: 10px;
  text-align: left;
  width: 75%;
  height: 39px;
  font-style: italic;
  background-color: white;
}

.input-field {
  border-style: solid;
  border-color: black;
  border-width: 2px 2px 2px 2px;
  padding: 5px 0px 5px 0px;
  text-align: left;
  width: 100%;
  height: 15px;
  font-style: italic;
  background-color: white;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 20%;
}

.foto {
  text-align: center;
  display: inline;
}

.picture-wrapper {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: black;
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
